* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

main {
    height: 70%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 16%;
    padding: 0.5%;
    margin-bottom: 1%;
    border-bottom: 2px solid #000;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header > h1 {
    margin-bottom: 0.5%;
}

#viewScreen {
    width: 60%;
    height: 95%;
    border: 2px #000 solid;
    resize: none;
    font-size: 20px;
}

#input {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}

#input > * {
    height: 25%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.diceInfo {
    width: 60%;
}

.diceInfo:focus {
    outline: none;
}

#fullNumberBox {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2%;
}

#fullNumberBox > * {
    padding: 1%;
}

#submit {
    width: 30%;
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
        margin: 0;
    }

    #viewScreen, #input{
        width: 95%;
    }
}

@media screen and (max-height: 500px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}