* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #eee;
}

main {
    height: 70%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 16%;
    padding: 0.5%;
    margin-bottom: 1%;
    border-bottom: 2px solid #000;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
}

header > h1 {
    margin-bottom: 0.5%;
}

#view {
    width: 60%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#viewScreen {
    width: 100%;
    height: 90%;
    border: 2px #000 solid;
    resize: none;
    font-size: 20px;
}

#possibilities {
    width: 100%;
    height: 10%;
    font-size: 16px;
}

#input {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}

#input > * {
    height: 25%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
}

.diceInfo {
    width: 60%;
}

.diceInfo:focus {
    outline: none;
}

#fullNumberBox {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2%;
}

#fullNumberBox > * {
    padding: 1%;
}

#submit {
    width: 30%;
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
        margin: 0;
        height: 80%;
    }

    header {
        margin-bottom: 3%;
    }

    #view, #input{
        width: 95%;
    }

    #input {
        border-top: 2px #000 solid;
        background-color: #ddd;
        padding: 2%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }
}

@media screen and (max-height: 500px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #input {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5%;
    }

    #input > * {
        width: 35%;
        padding: 1.5%;
    }

    #diceFaces {
        order: 1;
    }
}
